@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body    {
    background: linear-gradient(#ece9e6, #ffffff);
}

#container  {
    max-width: 1400px;
    margin:  0 auto;
}

/* header */
header  {
    padding: 20px 0;
}
header h1   {
    text-align: center;
    font-size: 40px;
    font-family: "Fjalla One", sans-serif;
    color: #ffc338;
    margin-bottom: 40px;
}
header ul   {
    display: flex;
    justify-content: space-between;
}
header ul li > a    {
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

/* main_visual */
.main_visual    {
    height: 70vh;
    overflow: hidden;
    margin-bottom: 60px;
}
.main_visual .swiper-slide  {
    height: 100%;
}
.main_visual .swiper-slide img  {max-width: 100%;}

/* main */
main    {
    display: flex;
    justify-content: space-between;
}
main section    {
    width: 70%;
}
main section article    {margin-bottom: 40px;}
main section h2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
}
main .text  {line-height: 1.6;}
main .text > strong {
    display: block;
    margin-bottom: 10px;
    color: brown;
}
main article li {margin-bottom: 20px;}
main article li strong  {
    font-weight: 600;
    margin-right: 15px;
}
main article li p   {display: inline-block;}
main aside  {
    width: 25%;
}
main aside figure   {
    overflow: hidden;
    position: relative;
    height: 180px;
    margin-bottom: 20px;
}
main aside figure img  {
    width: 100%;
    height: 100%;
}
main aside figure::before   {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(110, 21, 21, 0.8);
    transform: scale(0);
    transition: all 0.4s;
}

main aside figure:hover::before {transform: scale(1);}
main aside figure span  {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s 0.3s; /* 작동속도 지연속도 */
    opacity: 0; /* 투명도 */
}
main aside figure:hover span    {
    opacity: 1;
}

/* footer */
footer  {
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background: rgba(8, 63, 7, 0.7);
}